
body {
   
   
}

.controle.form {
    border: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 30px;
    }

input {
    border-style: solid;
    background-color: #eeeef0;
    border-color: #5db1ec;
    border-radius: 5px;
    color: #4c4c7b;
    content: normal;
    width: 15vw;
    height: 10px;
    padding: 5px;
    gap: 10px;
}

input:hover {
    border-style: solid;
    background-color: #59b4f0;
    border-color: #eeeef0;
    border-radius: 5px;
    color: #eeeef0;
    content: normal;
    
    }

.main {
   width: 100vw;
   height: 100vh;
   background: #eeeef0;
   display: flex;
   align-items: center;
   justify-content: center;
 
}
button {
    border: 10px;
    border-radius: 15px;
    border-color: rgb(231, 162, 32);
    background-color: #59b4f0;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    color: #eeeef0;
}

.esquerda {
    background-color:#3a4b53;
    width: 40vw;
    height: 80vh;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.form-box {
    background-color:#3a4b53;
    color: #eeeef0;
    width: 40vw;
    height: 80vh;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
 }

#resultado {
    font-size: small;
    margin-top: 10px;
    width: 25vw;
    display: block;
    align-items: center;
    justify-content: center;
    
}

img {
    width: 20vw;
}

a {
    font-size: xx-small;
}

.esquerda > h1 {
    color: #5db1ec;
    font-size: large;
    font-weight: bold ;
    justify-content: center;
 }
 .esquerda > p {
    color: #eeeef0;
    font-size: medium;
 }
 label{
    color: #eeeef0;
    
 }

